@{
    ViewBag.Title = "Compare Players";
}
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">NBA 2K16 Compare Players</h1>
        </div>
    </div>
</div>
<div class="wrapper-lg">

    <div class="row">
        <div class="col-xs-4" data-compare-wrapper="1">
            <div data-compare-chosen="1">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Player 1</div>
                    <div class="panel-body">
                        <input type="text" class="form-control m-b" placeholder="Enter Player Name">
                    </div>
                </div>
            </div>
            <div class="compare-player-container" data-compare-player="1" style="display: none">
                <div class="close"><i class="fa fa-close"></i>
                </div>
                <div class="player-container"></div>
            </div>
        </div>
        <div class="col-xs-4" data-compare-wrapper="2">
            <div data-compare-chosen="2">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Player 2</div>
                    <div class="panel-body">
                        <input type="text" class="form-control m-b" placeholder="Enter Player Name">
                    </div>
                </div>
            </div>
            <div class="compare-player-container" data-compare-player="2" style="display: none">
                <div class="close">
                    <i class="fa fa-close"></i>
                </div>
                <div class="player-container"></div>
            </div>
        </div>
        <div class="col-xs-4" data-compare-wrapper="3">
            <div data-compare-chosen="3">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Player 3</div>
                    <div class="panel-body">
                        <input type="text" class="form-control m-b" placeholder="Enter Player Name">
                    </div>
                </div>
            </div>
            <div class="compare-player-container" data-compare-player="3" style="display: none">
                <div class="close">
                    <i class="fa fa-close"></i>
                </div>
                <div class="player-container"></div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script type="text/javascript">
        $.each($('*[data-compare-wrapper]'), function (index, wrapper) {
            var chosenContainer = $(wrapper).find('*[data-compare-chosen]');
            var playerContainer = $(wrapper).find('*[data-compare-player]');

            $(chosenContainer).find('input').autocomplete({
                source: '/players/autocomplete',
                messages: {
                    noResults: '',
                    results: function () { }
                },
                minLength: 3,
                select: function (event, ui) {
                    $.get(
                      "/players/" + ui.item.UriName + "/compare",
                      function (data) {
                          chosenContainer.hide();
                          playerContainer.show();
                          playerContainer.find('.player-container').html(data);
                      }
                    );
                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                var container = $("<div>", {
                    'data-href': '/players/' + item.UriName,
                    'class': 'autocomplete-container ' + item.Tier.toLowerCase()
                });
                var info = $("<div>",
                {
                    'class': 'info'
                });
                info.append($("<img>",
                {
                    src: item.ImageUri
                }));
                var inforContainer = $('<div>', {
                    'class': 'info-container'
                });
                inforContainer.append($('<span>', {
                    'class': 'name'
                }).html(item.Name));

                inforContainer.append($('<span>', {
                    'class': 'collestion'
                }).html(item.Collection));
                info.append(inforContainer);
                container.append(info);

                container.append($('<div>', {
                    'class': 'overhaul'
                }).html(item.Position + ' ' + item.Overall));

                var li = $("<li>").append(container);
                return li.appendTo(ul);
            };
            playerContainer.find('.close').click(function() {
                chosenContainer.show();
                playerContainer.hide();
            });

        });
        
    </script>
}
