@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                            
                        </div>
                    </div>
                </div>
         