@using MTDB.Helpers
@model MTDB.Core.ViewModels.StatDto


<div class="line line-dashed b-b line-lg pull-in"></div>

<div class="form-group">
    <label>@Model.Name</label>
    @Html.HiddenFor(m => m.Id)
    @Html.UpDownFor(m => m.Value)
</div>
