

<h2>Legal</h2>

<h1>Privacy Policy</h1>
<p>MTDB.com does not use your user information for malicious intent. The personal information you submit include your PC, PSN ID or Xbox Live Gamertag, language, comment, rank, job selected, URL’s and IP address. The information you submit is used to display your listing; your IP address is stored for security purposes such as blocking abusive/malicious users. The MTDB.com site also utilizes cookies and other local storage to save meta data on your device as a mechanism for site functionality, and MTDB.com has permission to retrieve this data, and not used for any other purpose other than it’s intended use.</p>
<p>By using MTDB.com, you are permitting Google Analytics and Twitter to collect non-identifying data for analytics purposes. MTDB.com uses this data to improve it’s services and audience. The methods for collecting this non-identifying data are Google advertising cookies, Google anonymous identifiers for Google Analytics Demographics and Interest Reporting, in addition to data collected through a standard Google Analytics implementation, and Twitter’s Conversion Tracking and Tailored Audiences reporting. This anonymous data is only used to understand the user base of MTDB.com and to assess features and potential content to enhance the site experience. At no point in time is your personal information tied to this analytics data by Google or Twitter. You may opt-out at any time at Google and at Twitter.</p>
<h1>Terms of Use</h1>
<p>MTDB.com aims to provide a safe and fun environment for gamers. So we intend to enforce that environment with our own judgment.</p>
<p>All visitors (“user”) to MTDB.com (“the site”) agree to the following Terms of Use (“ToU”):</p>
<p>All users of the site use it at their own risk. All users’ agree that all activities and actions that occur outside of the site, the site is not responsible or held accoutanble. All users’ agree to the the site’s Privacy Policy.</p>
<p>All users will adhere to the following rules when using/posting/commenting or any action on MTDB.com, and to the same Code of Conduct rules provided by Sony Entertainment Network and Xbox Live:</p>
<p>
    The site will not condone harassment, abuse, and hateful or hurtful messages of any kind, to other users or individuals directly or indirectly on the site.<br />
    All users will abide to only list their own individual PSN ID or Xbox Live gamertag. They may not enter another user’s PSN ID or Xbox Live gamertag in any fashion.<br />
    No user will be allowed to promote the selling of any services of any kind such as, but not limited to: power-leveling, payment to farm materials/loot or any other activity.<br />
    No user will “spam” or list posts that are not relevant to the purpose of the site such as, but not limited to, promoting Twitch streams, videos or guides.<br />
    Failure to abide by the ToU of MTDB.com may result in a PERMANENT BAN from the site.
</p>

