@model Boolean
@using mvcForum.Web.Helpers;
@{
	ViewBag.Title = ForumHelper.GetString("Activate.Title");

	Layout = Url.GetThemeBaseUrl() + "areas/forum/views/shared/forumlayout.cshtml";
}
	<div class="row">
		<div class="col-md-12">
			<h3>@ForumHelper.GetString("Activate.Headline")</h3>
			<p>
@if (Model) {
	@ForumHelper.GetString("Activate.Success")
}
else {
	@ForumHelper.GetString("Activate.Failure")
}
			</p>
		</div>
	</div>
