@model mvcForum.Web.ViewModels.Create.CreateMessageViewModel
@using mvcForum.Web.Helpers;
<h3>Topic review: @Model.Subject</h3>
<table class="table posts">
@for (Int32 index = 0; index < Model.Posts.Count(); index++) {
	var post = Model.Posts[index];
	<tr>
		<td>
			<div class="row">
				<div class="col-md-8">
					<h4>@post.Subject</h4>
				</div>
				<div class="col-md-4 muted">
					<p class="text-right">@ForumHelper.GetHtmlString("CreateMessage.OldPosted", new { Author = post.Author.Wrap("<strong>{#}</strong>"), Timestamp = post.Posted.UtcDateTime })</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					@ForumHelper.ParseContent(post.Body)
				</div>
			</div>
		</td>
	</tr>
}
</table>
