@using mvcForum.Web.Helpers;
@{
    ViewBag.Title = ForumHelper.GetString("NoAccess.Title");
    Layout = Url.GetThemeBaseUrl() + "areas/Forums/Views/shared/_layout.cshtml";
}
<h2>@ForumHelper.GetString("NoAccess.Headline")</h2>
@TempData["Reason"]
