<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mvcForum.DataProvider.MainDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mvcforum.test;User ID=sa;password=123;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="EnableAds"
         value="false"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
  </system.web>
</configuration>