<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mvcForum.DataProvider.MainDB"
         connectionString="Data Source=mtdb-us.database.windows.net;Initial Catalog=mtdb_forum;Persist Security Info=True;User ID=mtdbuser;Password=c25ThanapESpeSWesWu6APeTHavuhA"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>