@{
    ViewBag.Title = "Confirm Email Sent";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Thank you for registering. Please check your email and confirm your email address.
    </p>
</div>
