@model mvcForum.Web.ViewModels.TopicViewModel
@using mvcForum.Web.Helpers;
<!-- Views/Forum/TopicButtonsPartial.cshtml -->
<div class="row">
	<div class="col-md-12">
		<ul class="list-inline">
			<li>@Html.ActionLink(ForumHelper.GetString("CreateMessage.PostNewMessage"), "create", "message", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })</li>
@if (ForumHelper.Authenticated()) {
			<li>
	@if (Model.Following) {
		@Html.ActionLink(ForumHelper.GetString("Topic.Unfollow"), "unfollow", new { topicId = Model.Id }, new { @class = "btn btn-info btn-sm" })
	}
	else {
		@Html.ActionLink(ForumHelper.GetString("Topic.Follow"), "follow", new { topicId = Model.Id }, new { @class = "btn btn-info btn-sm" })
	}
			</li>
	if (Model.IsModerator) {
		   <li>@Html.ActionLink(ForumHelper.GetLinkText("ModeratorCP"), "Index", "Moderate", new { id = Model.ForumId }, new { @class = "btn btn-warning btn-sm" })</li>
	}
}
		</ul>
	</div>
</div>