<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MTDBRepository"         
        connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MTDBRepository;User ID=sa;password=123;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="mvcForum.DataProvider.MainDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mvcforum.test;User ID=sa;password=123;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <connectionStrings>
    <add name="MyDB"
      connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="EnableAds"
         value="false"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="reCaptchaPublicKey"
         value="6LeRTxcTAAAAAKTeJNDBclKYu1dg3z3rgKVjUNyq"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="reCaptchaPrivateKey"
         value="6LeRTxcTAAAAADTemqxg56n4vrWxrp_STEIB8r-j"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>