<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MTDBRepository" 
         connectionString="Data Source=mtdb-us.database.windows.net;Initial Catalog=mtdb;Persist Security Info=True;User ID=mtdbuser;Password=c25ThanapESpeSWesWu6APeTHavuhA" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="mvcForum.DataProvider.MainDB" 
         connectionString="Data Source=mtdb-us.database.windows.net;Initial Catalog=mtdb_forum;Persist Security Info=True;User ID=mtdbuser;Password=c25ThanapESpeSWesWu6APeTHavuhA" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="EnableAds" 
         value="true" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="reCaptchaPublicKey"
         value="6LcdwhITAAAAAGb6kRJe8nPnQ8PXvSl1yZ2R2ddh"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="reCaptchaPrivateKey"
         value="6LcdwhITAAAAAGcTv5wgwevwfW9P5kWw16nt80Kn"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>