<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="nwebsec">
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
    <section name="MVCForumSettings" type="mvcForum.Core.Configuration.MVCForumSettings, mvcForum.Core" /><section name="mvcForum" type="mvcForum.Core.Configuration.MVCForumSection, mvcForum.Core" /><section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
  </configSections>
  
  <connectionStrings>
    <add name="MTDBRepository" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MTDBRepository;User ID=sa;password=123;" providerName="System.Data.SqlClient" />
    <add name="mvcForum.DataProvider.MainDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mvcforum.test;User ID=sa;password=123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="UseLeaderboardTable" value="true" />
    <add key="EnableAds" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="reCaptchaPublicKey" value="6LeRTxcTAAAAAKTeJNDBclKYu1dg3z3rgKVjUNyq" />
    <add key="reCaptchaPrivateKey" value="6LeRTxcTAAAAADTemqxg56n4vrWxrp_STEIB8r-j" />
    <add key="mailgunKey" value="" />
    <add key="cdn:ImageUrl" value="http://cdn.mtdb.com/" />
    <add key="smtp:Username" value="azure_56d3f1794edea59d887bcedb4d6f823b@azure.com" />
    <add key="smtp:Password" value="j0n1EF44q15KL" />
  </appSettings>
  
  <system.web>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
			<namespaces>
				<add namespace="MVCThemes.Extensions" />
			</namespaces>
		</pages>
  </system.web>
  
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <elmah>
    <security allowRemoteAccess="1" />
  </elmah>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
  </nwebsec>
  
  <authenticationProviders>
		<providers>
		</providers>
	</authenticationProviders>
  
  <MVCForumSettings defaultCulture="en-GB" defaultTimezone="GMT Standard Time" topicsPerPage="15" messagesPerPage="20" siteURL="http://localhost" robotEmailAddress="robot@mydomain" robotName="My Forum Robot" />
  
  <mvcForum>
		<databaseBuilder type="MTDB.MvcForumIdentity.IdentityBuilder, MTDB" />
		<dependencyContainerBuilder type="MVCBootstrap.Ninject.DependencyContainer, MVCBootstrap.Ninject" />
		<storageBuilder type="mvcForum.Web.DependencyBuilders.StorageBuilder, mvcForum.Web" />

		<themeProviderComponent type="mvcForum.Web.ForumThemeProvider, mvcForum.Web" />
		<themeUrlProviderComponent type="MVCThemes.SimpleThemeURLProvider, MVCThemes" />
		<eventPublisherComponent type="ApplicationBoilerplate.Events.EventPublisher, ApplicationBoilerplate" />
		<asyncTaskComponent type="MVCBootstrap.Web.Events.AsyncTask, MVCBootstrap" />

		<urlProviderComponent type="mvcForum.Web.Providers.MVCURLProvider, mvcForum.Web" />

		<mailServiceComponent type="MVCBootstrap.Web.Mvc.Services.MailService, MVCBootstrap" />
		<membershipServiceComponent type="MTDB.MvcForumIdentity.MembershipService, MTDB" />
		<formsAuthenticationComponent type="MTDB.MvcForumIdentity.AuthenticationService, MTDB" />
		<userProviderComponent type="MTDB.MvcForumIdentity.IdentityUserProvider, MTDB" />

		<loggingProviderComponent type="mvcForum.Web.TraceLog, mvcForum.Web" />

		<searchBuilders>
			<add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneSearchBuilder, mvcForum.SearchProvider.Lucene" />
		</searchBuilders>

		<additionalBuilders>
			<add name="Core" type="mvcForum.Core.DependencyBuilders.CoreBuilder, mvcForum.Core" />
			<add name="ForumConf" type="mvcForum.Web.ForumConfigurator, mvcForum.Web" />
			<add name="ForumAdmin" type="mvcForum.Web.DependencyBuilders.ForumAdminBuilder, mvcForum.Web" />
			<add name="WebCommon" type="mvcForum.Web.DependencyBuilders.WebCommonBuilder, mvcForum.Web" />
			<add name="AddOnEmbeddedViews" type="mvcForum.AddOns.AddOnBuilder, mvcForum.AddOns" />
			<add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetBuilder, mvcForum.AddOns" />
			<add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostBuilder, mvcForum.AddOns" />
			<add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialBuilder, mvcForum.AddOns" />
			<add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamBuilder, mvcForum.AddOns" />
			<!-- Put any additional builders in here! -->
		</additionalBuilders>

		<contentParserComponents>
			<add name="BBCode" type="mvcForum.AddOns.ContentParsing.BBCParser, mvcForum.AddOns" />
			<add name="MarkDown" type="mvcForum.AddOns.ContentParsing.MarkDownParser, mvcForum.AddOns" />
			<add name="Regular" type="mvcForum.AddOns.ContentParsing.RegularParser, mvcForum.AddOns" />
		</contentParserComponents>

		<eventListenerComponents>
			<add name="Following" type="mvcForum.Web.Events.FollowingEventListener, mvcForum.Web" />
			<add name="Moderation" type="mvcForum.Web.Events.ModerationEventListener, mvcForum.Web" />
			<add name="PostReportResolved" type="mvcForum.Web.Events.PostReportResolvedEventListener, mvcForum.Web" />
			<add name="NewAndUpdatedContent" type="mvcForum.Web.Events.NewAndUpdatedContentEventListener, mvcForum.Web" />
			<add name="FlagUpdated" type="mvcForum.Web.Events.FlagUpdatedEventListener, mvcForum.Web" />
			<add name="Installation" type="mvcForum.Web.Events.InstallationEventListener, mvcForum.Web" />

			<!-- Lucene -->
			<add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneContentChangeEventListener, mvcForum.SearchProvider.Lucene" />

			<!-- Add ons -->
			<add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetAddOn, mvcForum.AddOns" />
			<add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostAddOn, mvcForum.AddOns" />
			<add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialAddOn, mvcForum.AddOns" />
			<add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamAddOn, mvcForum.AddOns" />
		</eventListenerComponents>
		<!--<repositoryComponents>
			<add type="mvcForum.DataProvider.EntityFramework.Repositories.TopicRepository, mvcForum.DataProvider.EntityFramework" interface="mvcForum.Core.Interfaces.Data.ITopicRepository, mvcForum.Core" />
		</repositoryComponents>-->
	</mvcForum>
  
</configuration>